<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>link方法相应HTML元素的事件和监视作用域模型数据变化</title>
	<script src="../lib/angular.min.js"></script>
<body ng-app="myApp" ng-controller="myCtrl">
	<input type="text" ng-model="message">
	<hello-world></hello-world>
	<button ng-click="clearMessage()">清除信息</button>
	<script>
		var app = angular.module("myApp",[]);
		app.controller("myCtrl",function($scope){
			$scope.message = "chenxiaoming";
		})
		app.directive("helloWorld",function(){
			return {
				restrict : "AE",
				replace : true,
				template : "<h1>hello world! {{ message }}</h1>",
				link : function(scope,elem,attrs){
					scope.$watch("message",function(value){
						console.log("message change!");
					});
					//清除
					scope.clearMessage = function(){
						scope.message = "";
					}
				}
			}
		})
	</script>
</body>
</html>