<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ngMessage模块</title>
	<script src="../lib/angular-1.6.5/angular.min.js"></script>
	<script src="../lib/angular-1.6.5/angular-messages.js"></script>
</head>
<body ng-app="myApp">
	<form name="exampleForm" class="elegant-aero">
		<label>用户名：</label>
		<input type="text" name="userFirstName" ng-model="firstName" required/>
		<div ng-messages="exampleForm.userFirstName.$error">
			<div ng-message="required">姓名不能为空</div>
		</div>

		<label>邮箱地址：</label>
		<input type="email" name="userEmail" ng-model="userEmail" required/>
		<div ng-messages="exampleForm.userEmail.$error">
			<div ng-message="required">Email不能为空</div>
			<div ng-message="email">Email地址不合法</div>
		</div>

		<label>手机号码：</label>
		<input type="email" name="userPhoneNumber" ng-model="phoneNumber" ng-pattern="/^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/" required/>
		<div ng-messages="exampleForm.userPhoneNumber.$error">
			<div ng-message="required">手机号不能为空！</div>
			<div ng-message="pattern">手机号码不合法！</div>
		</div>
		
		<label>留言信息</label>
		<textarea type="text" name="userMessage" ng-model="message" ng-maxlength="100" ng-minlength="10" required/></textarea>
		<div ng-messages="exampleForm.userMessage.$error" >
			<div ng-message="required">用户留言不能为空</div>
			<div ng-message="maxlength">留言信息长度不能多于100个字符！</div>
			<div ng-message="minlength">留言信息长度不能少于10个字符</div>
		</div>
	</form>
	<script>
		angular.module("myApp",["ngMessages"]);
	</script>
</body>
</html>